:root {
    --main-color: black;
}

.slider {
    position: relative;
    width: 600px;
    overflow: hidden;
}

.slider__image {
    height: 380px;
    width: 596px;
    border: solid 2px var(--main-color);
}

.slider__panel {
    display: flex;
    justify-content: space-between;
}

.slider__button {
    height: 40px;
    width: 40px;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    color:var(--main-color);
    border: solid 2px var(--main-color);
    border-radius: 4px;
    -webkit-user-select: none;
    user-select: none; 
    cursor: pointer;
}

.slider__slides {
    padding: 0;
}

.slider__slides-item {
    
    width: 30px;
    max-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.slider__slides-item_selected > div {
    margin: 0 auto;
    width: 18px;
    height: 18px;
}

.slider__slides-item-circle {
    margin: 4px auto;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--main-color);
}

.slider__new-image {
    position: absolute;
    height: 380px;
    width: 600px;
    top: 0;
    width: 596px;
    border: solid 2px var(--main-color);
    border-left: none;
    border-right: none;
}

.slider__new-image_hidden {
    display: none;
}
